@import '../../styles/variables';

.particles-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: $z-particles;
  opacity: 0.6;
  
  @media (max-width: $mobile) {
    display: none;
  }
}